DATABASE_URL=sqlite+aiosqlite:///./fastapi.db # настройка подключения к БД
SECRET=YOUR_SECRET_KEY # секретный ключ для CSRF-токена
# данные автоматически создаваемого первого суперпользователя
FIRST_SUPERUSER_EMAIL=admin@admin.ru
FIRST_SUPERUSER_PASSWORD=admin_password